In [7]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime
import concurrent.futures
import time

## Group Assignment
### Team Number: XX
### Team Member Names:
### Team Strategy Chosen: __________(RISKY OR SAFE)

In [8]:
start = time.perf_counter()
def get_info(stock):
    temp_frame=pd.DataFrame()
    tick = yf.Ticker(stock)
    tick_hist = tick.history(start=start_date,end=end_date)
    if len(tick_hist.index) != 0:
        if tick.info['country'] == 'United States':
            if tick_hist['Volume'].mean()>= 10000:
                for need in hist_need:
                    temp_frame[need+' of '+stock]=tick_hist[need]
                return (temp_frame,stock)
    return pd.DataFrame(),""
start_date = '2021-07-02'
end_date = '2021-10-22'
hist_data = pd.DataFrame()
clean_stocks = []
hist_need = ['Open','High','Low','Close','Volume']
tick_data = pd.read_csv("Tickers.csv",names=["Tickers"])
#with concurrent.futures.ThreadPoolExecutor() as executor:
list_tick = []
for x in range(len(tick_data.index)):
    list_tick.append(tick_data['Tickers'].iloc[x])
print(list_tick)
with concurrent.futures.ThreadPoolExecutor() as executor:
    results = executor.map(get_info, list_tick)
    for result in results:
        hist_data = pd.concat([hist_data,result[0]],join='outer',axis=1)
        clean_stocks.append(result[1])
    
finish = time.perf_counter()
print(f'Finished in {round(finish-start,2)} seconds(s)')
hist_data.dropna(inplace=True)
for string in clean_stocks:
    if string == "":
        clean_stocks.remove(string)
print(clean_stocks)
hist_data.head()

['AAPL', 'ABBV', 'ABT', 'ACN', 'AGN', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BLK', 'BMY', 'C', 'CAT', 'CELG', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CSCO', 'CVS', 'GM', 'GOOG', 'JPM', 'KMI', 'KO', 'LLY', 'LMT', 'MO', 'MON', 'MRK', 'MS', 'MSFT', 'NEE', 'NKE', 'ORCL', 'OXY', 'PCLN', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'RTN', 'SHOP.TO', 'SBUX', 'SLB', 'SO', 'SPG', 'T', 'TD.TO', 'TGT', 'TWX', 'TXN', 'UNH', 'UNP', 'UPS', 'USB']
- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: None
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted
Finished in 36.85 seconds(s)
['AAPL', 'ABBV', 'ABT', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BLK', 'BMY', 'C', 'CAT', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CSCO', 'CVS', 'GM', 'GOOG', 'JPM', 'KMI', 'KO', 'LLY', 'LMT', 'MO', 'MON', 'MRK', 'MS', 'MSFT', 'NEE', 'NKE', 'ORCL', 'OXY', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'SBUX', 'SLB', 'SO', 'SPG', 'T', '', 'TGT', '', 'TXN', 'UNH', 'UNP', 'UPS', 'USB']

,Open of AAPL,High of AAPL,Low of AAPL,Close of AAPL,Volume of AAPL,Open of ABBV,High of ABBV,Low of ABBV,Close of ABBV,Volume of ABBV,...,Open of UPS,High of UPS,Low of UPS,Close of UPS,Volume of UPS,Open of USB,High of USB,Low of USB,Close of USB,Volume of USB
Date,,,,,,,,,,,,,,,,,,,,,
2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600.0,111.900746,112.848562,111.285158,112.535881,5719500.0,...,208.488362,210.985178,208.179993,210.418167,2172300.0,57.171395,57.300406,56.744668,57.131699,3520900.0
2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800.0,112.535879,113.249187,112.145027,113.083076,7172100.0,...,209.353804,210.497753,207.095731,210.179428,2421300.0,56.665274,56.893526,55.206468,55.583572,5008700.0
2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600.0,113.258966,114.294720,112.672683,114.079750,6695100.0,...,210.199328,213.800296,209.214541,213.133820,2553700.0,55.246161,56.049996,55.037761,55.563728,5125700.0
2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500.0,113.112394,114.138374,113.034222,113.688896,3948800.0,...,209.214536,211.582016,208.796730,210.955338,2354300.0,54.700349,55.216391,54.253774,54.620960,5977700.0
2021-07-09,142.750000,145.649994,142.649994,145.110001,99890800.0,113.640040,114.646482,113.454384,113.913635,4823400.0,...,212.765767,213.372562,211.552179,212.795609,2050500.0,55.653043,56.605733,55.424791,56.536266,4437300.0

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.